body {
  font-family: "Roboto", sans-serif;
  background-color: #fefefe;
  color: #2c2c2c;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

input {
  font-family: inherit;
}

button {
  cursor: pointer;
}

.container {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 16px;
  }
}
/* header */

.header {
  box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
}

.header-bar {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.logo-link {
}
.logo-icon {
}

.nav {
  display: none;
}
.nav-list {
}
.nav-list-item {
}
.nav-list-link {
}
.header-order-button {
  display: none;
}

.header-menu-button {
  background-color: transparent;
  border: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #7eb101;
}

.header-menu-button:hover,
.header-menu-button:focus {
  fill: #ffe550;
}
.header-menu-btn-icon {
}

@media screen and (max-width: 767px) {
  /* mobile menu*/

  .mobile-menu {
    position: absolute;
    top: 50px;
    right: 20px;
    border-radius: 30px 0 30px 30px;
    overflow: hidden;
    width: 130px;
    height: 255px;
    box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
    background-color: #fefefe;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu-close-btn {
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: transparent;
    border: none;
    transition: fill 250ms ease-in-out;
  }

  .mobile-menu-close-btn:hover {
    fill: #ffe550;
  }
  .mobile-menu-list {
    /* display: flex;
  flex-direction: column; */
  }
  .mobile-menu-item {
    width: 130px;
    height: 51px;
    transition: background-color 250ms ease-in-out;
  }

  .mobile-menu-item:hover {
    background-color: #bbf330;
  }
  .mobile-menu-link {
    display: block;
    padding: 16px 10px 16px 16px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo-link {
  }
  .logo-icon {
  }

  .nav {
    display: flex;
    margin-right: 30px;
    margin-left: auto;
  }
  .nav-list {
    display: flex;
    gap: 28px;
  }
  .nav-list-item {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .nav-list-link {
    font-weight: 400;
    font-size: 14px;
    color: #000;
    transition: color 150ms ease-in-out;
  }

  .nav-list-link:hover,
  .nav-list-link:focus {
    color: #bbf330;
  }

  .header-order-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98px;
    height: 32px;
    border: none;
    border-radius: 30px;
    background-color: #bbf330;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    color: #2c2c2c;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-order-button:hover {
    background-color: #ffe450;
  }

  .header-menu-button {
    display: none;
  }
}

/* hero */

.hero {
}

.hero-container {
  padding-bottom: 50px;
  padding-top: 60px;
}

.hero-title {
  font-weight: 700;
  font-size: 28px;
  color: #2c2c2c;
  min-width: 280px;
}

.hero-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #2c2c2c;
  min-width: 280px;
  margin-top: 28px;
  margin-bottom: 32px;
}

.hero-btn {
  border-radius: 30px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98px;
  height: 32px;
  background-color: #bbf330;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: #2c2c2c;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
  background-color: #ffe450;
}

.hero-img-wrap {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero-container {
    background-color: transparent;
    position: relative;
    padding-top: 60px;
    padding-bottom: 73px;
  }

  .hero-title {
    font-size: 42px;
    max-width: 474px;
  }

  .hero-text {
    max-width: 336px;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 44px;
    margin-bottom: 40px;
  }

  .hero-img-wrap {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .hero-img {
    border-radius: 50%;
    width: 292px;
    height: 292px;
    position: absolute;
    right: 14px;
    bottom: 14px;
  }
  .hero-img-frame {
    border-radius: 50%;
    width: 320px;
    height: 320px;
    background-color: #ffe550;
  }

  .hero-img-left,
  .hero-img-right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 146px;
    height: 28px;
    width: 34px;
    border-radius: 4px;
    border: none;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hero-img-left {
    left: -8px;
  }

  .hero-img-right {
    right: -8px;
  }

  .hero-img-btn-icon {
    width: 12px;
    height: 22px;
    stroke: #2c2c2c;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hero-img-left:hover > .hero-img-btn-icon,
  .hero-img-right:hover > .hero-img-btn-icon,
  .hero-img-left:focus > .hero-img-btn-icon,
  .hero-img-right:focus > .hero-img-btn-icon {
    stroke: #7eb101;
  }

  .hero-img-left:focus,
  .hero-img-right:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16);
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    padding-top: 159px;
    padding-bottom: 164px;
  }

  .hero-title {
    font-size: 48px;
    line-height: 1.2;
  }

  .hero-text {
    max-width: 511px;
    margin-top: 28px;
  }

  .hero-img-frame {
    width: 580px;
    height: 580px;
  }

  .hero-img {
    width: 528px;
    height: 528px;
    right: 26px;
    bottom: 26px;
  }

  .hero-img-left,
  .hero-img-right {
    bottom: 274px;
    height: 40px;
    width: 48px;
    border-radius: 8px;
  }

  .hero-img-left {
    left: -12px;
  }

  .hero-img-right {
    right: -12px;
  }

  .hero-img-btn-icon {
    width: 17px;
    height: 30px;
  }
}

/* offer */

.offer {
  background-image: url(../images/background-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center top;
}

@media (min-resolution: 192dpi) {
  .offer {
    background-image: url(../images/background-mobile@2x.jpg);
  }
}

@media screen and (min-width: 480px) {
  .offer {
    background-image: url(../images/background480.jpg);
  }

  @media (min-resolution: 192dpi) {
    .offer {
      background-image: url(../images/background480@2x.jpg);
    }
  }
}

.offer-img-container {
  padding-top: 410px;
  position: relative;
}
.offer-img-background {
  width: 255.56px;
  height: 255.55px;
  background-color: #fefefe;
  border-radius: 50%;
  position: absolute;
  top: 82.23px;
  left: 12.22px;
}
.offer-img-frame {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  border: 3px solid #fefefe;
  position: absolute;
  top: 70px;
}

.offer-img-shadow {
  position: absolute;
  bottom: 83px;
  left: 70px;
}

.offer-img-main {
  position: absolute;
  top: 41px;
  left: 42.25px;
}
.offer-img-transparent-1,
.offer-img-transparent-2 {
  display: none;
}
.offer-title {
  font-weight: 700;
  font-size: 28px;
  color: #2c2c2c;
  margin-bottom: 28px;
}
.offer-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #2c2c2c;
  margin-bottom: 28px;
}
.offer-list {
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.offer-item {
}
.offer-icon-container {
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
.offer-icon {
  fill: #7eb101;
}
.offer-item-title {
  font-weight: 700;
  font-size: 18px;
  color: #2c2c2c;
  margin-bottom: 16px;
}
.offer-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #2c2c2c;
}
.offer-btn-container {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-bottom: 40px;
}
.offer-btn {
  border: 2px solid #7eb101;
  border-radius: 30px;
  background-color: #fff;
  width: 106px;
  height: 40px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: #2c2c2c;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.offer-btn:hover {
  background-color: #bbf330;
  border: none;
}

.offer-link-container {
  display: flex;
  align-items: center;
  gap: 3.4px;
}

.offer-link {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  color: #000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.offer-link-button {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer-link-icon {
  fill: #000;
  stroke: #000;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.offer-link-container:hover > .offer-link,
.offer-link-container:hover > .offer-link-button .offer-link-icon {
  color: #bbf330;
  fill: #bbf330;
  stroke: #bbf330;
}

@media screen and (min-width: 768px) {
  .offer {
    background-image: none;
  }

  .yellow-background {
    background-image: url(../images/background-tablet.png);
    background-position: 50% 361px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-resolution: 192dpi) {
    .yellow-background {
      background-image: url(../images/background-tablet@2x.png);
    }
  }

  .offer-img-container {
    padding-top: 496px;
  }

  .offer-img-background {
    width: 325.84px;
    height: 325.84px;
    top: 94.5px;
    left: 15.58px;
  }
  .offer-img-frame {
    width: 357px;
    height: 357px;
    top: 79px;
  }

  .offer-img-shadow {
    bottom: 95px;
    left: 105px;
  }

  .offer-img-main {
    width: 257px;
    height: 325px;
    top: 42px;
    left: 53.8px;
  }

  .offer-img-transparent-1 {
    display: block;
    position: absolute;
    top: 158px;
    right: 152px;
  }

  .offer-img-transparent-2 {
    display: block;
    position: absolute;
    top: 232px;
    right: 0;
  }

  .offer-title {
    width: 488px;
    font-size: 42px;
    margin-bottom: 20px;
  }

  .offer-text {
    font-size: 16px;
    line-height: 1.5;
    color: #2c2c2c;
    margin-bottom: 25px;
    width: 500px;
  }

  .offer-list {
    margin-bottom: 20px;
    flex-direction: row;
    gap: 80px;
  }

  .offer-item:first-child {
    width: 288px;
  }

  .offer-item:last-child {
    width: 252px;
  }

  .offer-btn-container {
    padding-bottom: 88px;
  }
}

@media screen and (min-width: 1280px) {
  .yellow-background {
    background-image: url(../images/background-desktop.png);
    background-position: 50% 350px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-resolution: 192dpi) {
    .yellow-background {
      background-image: url(../images/background-desktop@2x.png);
    }
  }

  .offer-img-container {
    padding-top: 0px;
  }

  .offer-img-background {
    width: 502px;
    height: 502px;
    top: 94px;
    left: 24px;
  }
  .offer-img-frame {
    width: 550px;
    height: 550px;
    top: 70px;
  }

  .offer-img-shadow {
    top: 450px;
    left: 155px;
    width: 252px;
  }

  .offer-img-main {
    width: 396px;
    height: 502px;
    top: 16px;
    left: 84px;
  }

  .offer-img-transparent-1 {
    display: none;
  }

  .offer-img-transparent-2 {
    display: none;
  }

  .offer-title {
    margin-left: 640px;
    padding-top: 99px;
    width: 525px;
  }

  .offer-text {
    margin-left: 640px;
    margin-bottom: 40px;
  }

  .offer-list {
    margin-left: 640px;
    margin-bottom: 32px;
    gap: 67px;
  }

  .offer-item:first-child,
  .offer-item:last-child {
    width: 253px;
  }

  .offer-btn-container {
    margin-left: 640px;
    padding-bottom: 79px;
  }

  .offer-link-container {
    display: none;
  }
}

/* favorites */

.favorite {
  padding-top: 60px;
  padding-bottom: 60px;
}
.favorite-title {
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  color: #2c2c2c;
  width: 280px;
}
.favorite-text {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #2c2c2c;
  width: 280px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 60px;
}
.favorite-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.favorite-item {
  width: 280px;
  height: 282px;
}
.favorite-item-border {
  border: 11px solid #ffe550;
  border-radius: 150%;
  width: 280px;
  height: 282px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.favorite-item:hover > .favorite-item-border {
  border-color: #bbf330;
}
.favorite-item-img {
  width: 223px;
  height: 223px;
}
.favorite-item-tablet {
  display: none;
}

@media screen and (min-width: 768px) {
  .favorite {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .favorite-title {
    font-size: 42px;
    width: 656px;
    margin: 0 auto;
  }

  .favorite-text {
    font-size: 16px;
    width: 656px;
  }

  .favorite-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  .favorite-item-tablet {
    display: block;
  }

  .favorite-item {
    width: calc((100% - 32px) / 2);
    height: 338px;
  }

  .favorite-item-border {
    border: 14px solid #ffe550;
    width: 336px;
    height: 338px;
  }

  .favorite-item-img {
    width: 267px;
    height: 268px;
  }
}

@media screen and (min-width: 1280px) {
  .favorite-item {
    width: calc((100% - 32px * 2) / 3);
    height: 397px;
  }

  .favorite-item-border {
    border: 16px solid #ffe550;
    width: 395px;
    height: 397px;
  }

  .favorite-item-img {
    width: 315px;
    height: 315px;
  }
}

/* review */

.yellow-background-down {
  background-image: url(../images/background-down-mobile.png);
  background-repeat: no-repeat;
  background-position: center top;
}

@media (min-resolution: 192dpi) {
  .yellow-background-down {
    background-image: url(../images/background-down-mobile@2x.png);
    background-position: center -750px;
  }
}

@media screen and (min-width: 480px) {
  .yellow-background-down {
    background-image: url(../images/background-down-480.png);
    background-position: center top;
  }

  @media (min-resolution: 192dpi) {
    .yellow-background-down {
      background-image: url(../images/background-down-480@2x.png);
      background-position: center -680px;
    }
  }
}

@media screen and (min-width: 768px) {
  .yellow-background-down {
    background-image: url(../images/background-down-tablet.png);
    background-position: center top;
  }

  @media (min-resolution: 192dpi) {
    .yellow-background-down {
      background-image: url(../images/background-down-tablet@2x.png);
      background-position: center -550px;
    }
  }
}

@media screen and (min-width: 1288px) {
  .yellow-background-down {
    background-image: url(../images/background-down-desktop.png);
    background-position: center -300px;
    background-size: cover;
  }
}

.review {
  padding-top: 60px;
  padding-bottom: 17px;
}
.review-title {
  font-weight: 700;
  font-size: 28px;
  color: #2c2c2c;
  margin-bottom: 20px;
}
.review-text {
  font-weight: 400;
  font-size: 14px;
  color: #2c2c2c;
  margin-bottom: 32px;
}
.review-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.review-item {
  background-color: #fff;
  padding: 8px;
  border-radius: 30px;
  border-top-left-radius: 0;
  width: 280px;
}
.review-stars-container {
  display: flex;
  gap: 4px;
  fill: #ffe550;
}
.review-item-text {
  font-weight: 700;
  font-size: 16px;
  color: #2c2c2c;
  margin-top: 28px;
  margin-bottom: 40px;
}
.review-item-author {
  display: flex;
  gap: 16px;
  align-items: center;
}
.review-item-author-photo {
  width: 48px;
  height: 48px;
}
.review-item-author-text {
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: relative;
}

.review-item-author-text::after {
  content: "";
  border: 0.85px solid #7eb101;
  height: 42px;
  width: 0px;
  position: absolute;
  right: -16px;
}
.review-item-author-bold {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #2c2c2c;
}
.review-item-author-norm {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #2c2c2c;
}

@media screen and (min-width: 768px) {
  .review {
    padding-bottom: 46px;
  }
  .review-title {
    font-size: 42px;
  }
  .review-text {
    font-size: 16px;
  }
  .review-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  .review-item {
    padding: 12px;
    width: 369px;
  }

  .review-item-text {
    font-size: 18px;
  }

  .review-item-author-text::after {
    border: 1px solid #7eb101;
    height: 52px;
    top: -5px;
    right: -16px;
  }
}

@media screen and (min-width: 1280px) {
  .review {
    padding-top: 100px;
    padding-bottom: 134px;
  }

  .review-list {
    gap: 139px;
  }
  .review-item {
    padding: 14px;
    width: 501px;
  }
}
/* subscribe */

.subscribe {
  padding-bottom: 60px;
}
.subscribe-img {
  width: 280px;
  height: 78px;
  object-fit: contain;
}
.subscribe-title {
  margin-top: 17px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  color: #2c2c2c;
}
.subscribe-text {
  font-weight: 400;
  font-size: 14px;
  color: #2c2c2c;
  margin-bottom: 40px;
}
.subscribe-form {
  display: flex;
  flex-direction: column;
}
.subscribe-input {
  border: 0.85px solid #ffe550;
  border-radius: 30px;
  padding: 10px;
  width: 279px;
  height: 42px;
  margin-bottom: 20px;
  outline: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}

.subscribe-input:focus {
  border-color: #7eb101;
}

.subscribe-input:invalid {
  border-color: #ff705d;
}
.subscribe-btn {
  border-radius: 30px;
  background-color: #bbf330;
  border: none;
  width: 103px;
  height: 42px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: #2c2c2c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  margin-left: auto;
}

.subscribe-btn:hover {
  background-color: #ffe450;
}

@media screen and (min-width: 768px) {
  .subscribe {
    padding-bottom: 100px;
  }

  .subscribe-img {
    width: 281px;
    height: 136px;
    margin-right: 0;
    margin-left: auto;
  }

  .subscribe-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 42px;
  }

  .subscribe-text {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 1.5;
    width: 520px;
  }

  .subscribe-form {
    flex-direction: row;
    justify-content: start;
  }

  .subscribe-input {
    width: 395px;
    margin-bottom: 0;
  }

  .subscribe-btn {
    margin-left: 22px;
    margin-right: auto;
  }
}

@media screen and (min-width: 1280px) {
  .subscribe {
    padding-bottom: 64px;
  }

  .subscribe-container {
    position: relative;
  }

  .subscribe-img {
    width: 608px;
    height: 266px;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .subscribe-title {
    margin-top: 46px;
    margin-bottom: 20px;
  }

  .subscribe-btn {
    margin-left: 32px;
  }
}

/* footer */

.footer-main-container {
  box-shadow: 0 -4px 24px 0 rgba(105, 105, 105, 0.1);
  background-image: url(../images//footer-mb-1.png),
    url(../images/footer-mb-2.png), url(../images/footer-mb-3.png);
  background-repeat: no-repeat;
  background-position: right top, left top 132px, center bottom;
  background-size: 104px, 106px, 253px;
}

@media (min-resolution: 192dpi) {
  .footer-main-container {
    background-image: url(../images//footer-mb-1@2x.png),
      url(../images/footer-mb-2@2x.png), url(../images/footer-mb-3@2x.png);
  }
}

.footer-container {
  padding-top: 64px;
  padding-bottom: 63px;
}

.footer {
  margin-bottom: 60px;
}

.footer-nav {
  display: flex;
  gap: 46px;
  justify-content: start;
  align-items: start;
  margin-bottom: 40px;
}
.footer-logo-link {
}

.footer-logo-icon {
  width: 57px;
  height: 51px;
}
.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-nav-item {
  font-weight: 400;
  font-size: 14px;
  color: #000;
  transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.footer-nav-item:hover {
  color: #bbf330;
}
.footer-nav-link {
}

.footer-subscribe-form {
}

.footer-subscribe-label {
  display: block;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #2c2c2c;
}

.footer-subscribe-input {
  border: 0.85px solid #ffe550;
  border-radius: 30px;
  padding: 12px;
  width: 279px;
  height: 42px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
  outline: none;
  margin-bottom: 20px;
  transition: border-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.footer-subscribe-input:focus {
  border-color: #7eb101;
}

.footer-subscribe-input:invalid {
  border-color: #ff705d;
}
.footer-subscribe-btn {
  border: 0.85px solid #7eb101;
  border-radius: 30px;
  width: 103px;
  height: 35px;
  background-color: #fff;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: #2c2c2c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  transition: border 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.footer-subscribe-btn:hover {
  border: 2px solid #ffe450;
}

.footer-subscribe-agree {
  font-weight: 400;
  font-size: 10px;
  color: #2c2c2c;
}
.privacy-link {
  font-weight: 400;
  font-size: 10px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #7eb101;
}
.footer-privacy {
}
.footer-privacy-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.footer-privacy-item {
}
.footer-privacy-right {
  font-weight: 400;
  font-size: 10px;
  color: #2c2c2c;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-main-container {
    background-image: url(../images/footer-tab-1.png),
      url(../images/footer-tab-2.png);
    background-repeat: no-repeat;
    background-position: right top, right top 35px;
    background-size: 203px, 96px;
  }

  .footer-container {
    background-image: url(../images/footer-tab-3.png),
      url(../images/footer-tab-4.png), url(../images/footer-tab-5.png),
      url(../images/footer-tab-6.png), url(../images/footer-tab-7.png),
      url(../images/footer-tab-8.png);
    background-repeat: no-repeat;
    background-position: left 136px bottom, left bottom -39px, left 195px bottom,
      right bottom, right 94px bottom, right 233px bottom;
    background-size: 168px, 164px, 153px, 170px, 171px, 221px;

    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media (min-resolution: 192dpi) {
    .footer-main-container {
      background-image: url(../images/footer-tab-1@2x.png),
        url(../images/footer-tab-2@2x.png);
    }

    .footer-container {
      background-image: url(../images/footer-tab-3@2x.png),
        url(../images/footer-tab-4@2x.png), url(../images/footer-tab-5@2x.png),
        url(../images/footer-tab-6@2x.png), url(../images/footer-tab-7@2x.png),
        url(../images/footer-tab-8@2x.png);
    }
  }

  .footer {
    margin-bottom: 100px;
  }

  .footer-nav {
    gap: 114px;
    align-items: center;
  }
  .footer-logo-link {
  }

  .footer-nav-list {
    flex-direction: row;
    gap: 28px;
  }

  .footer-input-btn-wrap {
    display: flex;
    gap: 13px;
    margin-bottom: 12px;
  }

  .footer-subscribe-input {
    margin-bottom: 0;
  }

  .footer-subscribe-btn {
    margin-bottom: 0;
  }

  .footer-subscribe-agree {
    font-size: 12px;
  }

  .privacy-link {
    font-size: 12px;
  }

  .footer-privacy {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-privacy-list {
    justify-content: start;
    margin-bottom: 0;
    gap: 20px;
  }

  .footer-privacy-right {
    font-size: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-main-container {
    background-image: none;
  }

  .footer-container {
    background-image: url(../images/footer-dt-1.png),
      url(../images/footer-dt-2.png), url(../images/footer-dt-3.png),
      url(../images/footer-dt-4.png), url(../images/footer-dt-5.png),
      url(../images/footer-dt-6.png), url(../images/footer-dt-7.png),
      url(../images/footer-dt-8.png);
    background-position: left 216px bottom, right bottom, right 118px bottom,
      left 37px bottom, center bottom, center bottom, right 266px bottom,
      left 265px bottom;
    background-size: 178px, 181px, 182px, 195px, 526px, 380px, 235px, 206px;
  }

  @media (min-resolution: 192dpi) {
    .footer-container {
      background-image: url(../images/footer-dt-1@2x.png),
        url(../images/footer-dt-2@2x.png), url(../images/footer-dt-3@2x.png),
        url(../images/footer-dt-4@2x.png), url(../images/footer-dt-5@2x.png),
        url(../images/footer-dt-6@2x.png), url(../images/footer-dt-7@2x.png),
        url(../images/footer-dt-8@2x.png);
    }
  }
  .footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }

  .footer-logo-icon {
    width: 66px;
    height: 52px;
  }
  .footer-nav {
    gap: 148px;
  }
}
